
/* Offers Section */
.offers {
  padding: 5rem 2rem;
  background: var(--light-color);
}

.box-container {
  display: flex;
  justify-content: center;
  gap: 4rem;
  flex-wrap: wrap;
  text-align: center;
}

.box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  max-width: 320px;
  transition: transform 0.4s ease, box-shadow 0.4s ease;
}

.box h3 {
  font-family: "Times New Roman", serif;
  font-size: 1.8rem;
  font-weight: 500;
  /* margin-bottom: 1rem; */
  color: var(--dark-color);
  letter-spacing: 0.5px;
  transition: color 0.3s ease;
}

.box p {
  font-size: 1rem;
  color: var(--gray-color);
  line-height: 1.7;
  margin-bottom: 1.8rem;
}

/* Buttons */
.box button {
  background: transparent;
  border: 1px solid var(--accent-color);
  padding: 0.7rem 1.5rem;
  font-size: 0.95rem;
  text-transform: capitalize;
  cursor: pointer;
  border-radius: 0px;
  color: var(--accent-color);
  transition: all 0.4s ease;
}

.box button:hover {
  background: var(--accent-color);
  color: var(--light-color);
  transform: translateY(-3px);
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.15);
}

/* Hover on box */
.box:hover {
  transform: translateY(-5px);
}

.box:hover h3 {
  color: var(--accent-color);
}
