<div class="best">
  <h2 class="most">Our Most Coveted <br />Creations of Distinction</h2>

  <!-- Slider main container -->
  <div class="swiper mySwiper">
    <div class="swiper-wrapper">
      <!-- Slides -->
      <div class="swiper-slide">
        <div class="slide">
          <img
            src="/assets/images/main_banner/bracelets/16.jpg"
            alt="bracelet"
          />
          <div class="overlay">
            <h3>Golden Elegance</h3>
            <p>$120</p>
          </div>
        </div>
      </div>

      <div class="swiper-slide">
        <div class="slide">
          <img src="/assets/images/main_banner/chokers/6.jpg" alt="choker" />
          <div class="overlay">
            <h3>Royal Choker</h3>
            <p>$95</p>
          </div>
        </div>
      </div>

      <div class="swiper-slide">
        <div class="slide">
          <img
            src="/assets/images/main_banner/earrings/12.jpg"
            alt="earrings"
          />
          <div class="overlay">
            <h3>Aurora Earring</h3>
            <p>$140</p>
          </div>
        </div>
      </div>

      <div class="swiper-slide">
        <div class="slide">
          <img
            src="/assets/images/main_banner/necklace/16.jpg"
            alt="necklace"
          />
          <div class="overlay">
            <h3>Queen’s Necklace</h3>
            <p>$250</p>
          </div>
        </div>
      </div>

      <div class="swiper-slide">
        <div class="slide">
          <img src="/assets/images/main_banner/rings/5.jpg" alt="ring" />
          <div class="overlay">
            <h3>Regal Ring</h3>
            <p>$110</p>
          </div>
        </div>
      </div>

      <div class="swiper-slide">
        <div class="slide">
          <img src="/assets/images/main_banner/earrings/1.jpg" alt="earrings" />
          <div class="overlay">
            <h3>Twilight Earrings</h3>
            <p>$130</p>
          </div>
        </div>
      </div>
    </div>

    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>

    <!-- Add Navigation -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </div>
</div>
