<div class="category">
  <h2 class="text-cat">Our Exclusive Categories</h2>
  <div id="categories" class="categories-container">
    <button class="arrow left" onclick="scrollSlider(-300)">&#8249;</button>
    <div class="categories-slider" id="slider">
      <div class="category-card">
        <img src="/assets/images/main_banner/rings.jpg" alt="Rings" />
        <h3>Rings</h3>
        <a href="rings.html">View All →</a>
      </div>

      <div class="category-card">
        <img src="/assets/images/main_banner/necklace.jpg" alt="Necklaces" />
        <h3>Necklaces</h3>
        <a href="necklaces.html">View All →</a>
      </div>

      <div class="category-card">
        <img src="/assets/images/main_banner/earring.jpg" alt="Earrings" />
        <h3>Earrings</h3>
        <a href="earrings.html">View All →</a>
      </div>

      <div class="category-card">
        <img src="/assets/images/main_banner/bracelet.jpg" alt="Bracelets" />
        <h3>Bracelets</h3>
        <a href="bracelets.html">View All →</a>
      </div>

      <div class="category-card">
        <img src="/assets/images/main_banner/choker.jpg" alt="Chokers" />
        <h3>Chokers</h3>
        <a href="chokers.html">View All →</a>
      </div>
    </div>
    <button class="arrow right" onclick="scrollSlider(300)">&#8250;</button>
  </div>
</div>
