<div class="hero">
  <div class="content">
    <h1>Discover Our Unique Luxury <br />Jewelry Collection</h1>
    <p>
      Immerse yourself in elegance with our exclusive luxury jewelry collection.
      Each piece is meticulously crafted, combining timeless designs with modern
      sophistication.
    </p>
    <a href="#" class="btn">Shop Now</a>
  </div>

  <div class="hex-container">
    <div class="hex">
      <img src="/assets/images/main_banner/s1.jpg" alt="jewelry 1" />
    </div>
    <div class="hex">
      <img src="/assets/images/main_banner/s2.jpg" alt="jewelry 2" />
    </div>
    <div class="hex">
      <img src="/assets/images/main_banner/s2.jpg" alt="jewelry 3" />
    </div>
  </div>
</div>
