<header>
  <nav class="navbar">
    <button class="menu-toggle" id="menu-toggle">☰</button>

    <ul class="nav-links" id="nav-links">
      <li><a href="#">Home</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Services</a></li>
      <li><a href="#">Contact</a></li>
    </ul>

    <div class="logo">Veloura.</div>

    <div class="cart">
      <a href="#"><i class="fa-solid fa-magnifying-glass"></i></a>
      <a href="#"><i class="fa-solid fa-cart-shopping"></i></a>
    </div>
  </nav>
</header>
