<div class="offers">
  <div class="container">
    <div class="box-container">
      <div class="box">
        <h3>Master-Crafted Fine Jewelry</h3>
        
        <p>
          Each piece is carefully made by skilled artisans using high-quality,
          ethically sourced materials.
        </p>

        <button>Learn More</button>
      </div>

      <div class="box">
        <h3>Personalized Bespoke Services</h3>
        
        <p>
          Create a one of a kind piece with our expert team, perfect for special
          every moments.
        </p>
        
        <button>Learn More</button>
      </div>

      <div class="box">
        <h3>Exclusive, Limited Collections</h3>
        
        <p>
          We offer exclusive designs in small quantities, so your jewelry stays
          truly unique.
        </p>
        
        <button>Learn More</button>
      </div>
    </div>
  </div>
</div>
